#Wraps {
    overflow: hidden;

    .bg-gray {
        background-color: #343434;
        text-align: justify;
    }

    .heading {
        color: white;
        text-transform: uppercase;
        font-family: 'Serpentine_BoldOblique' !important;
        letter-spacing: 2px;
        font-weight: 400 !important;
    }

    .swiper-pagination-bullet-active {
        background: #fff !important;
    }

    .mySwiper {
        border: 4px solid #0d99ff;
    }

    .removeWrap {
        margin-inline: 70px;
        margin-top: 104px;
    }

    .btn-read-more {
        button {
            padding-inline: 42px;
            padding-block: 12px;
            background: #FF4900;
            text-transform: uppercase;
            margin-block: 36px;
            color: white;
            font-size: 12px;
            font-weight: bold;
            font-family: sans-serif;
            animation: none;
        }
    }
}