.ServiceSection {
    .servies-title {
        font-family: 'Serpentine_BoldOblique' !important;
        font-size: 2rem;
        text-transform: uppercase;
        overflow-wrap: anywhere;
    }

    .section-heading {
        color: white;
        text-transform: uppercase;
        font-size: 4rem;
        font-family: 'Serpentine_BoldOblique' !important;
        letter-spacing: 2px;

    }
}